#pagenav {
	margin-bottom: 0px;
}

.navbar-brand.pagenav-elem {
	height: 70px;
	padding: 25px;

}

#page1 .explanation {
	text-align: center;
}

#page1 .explanation img {
	margin-top: -15px;
	margin-bottom: 10px;
}

body > .container:nth-child(odd) {
	background: #fff;
	color: #4499dd;
}

body > .container:nth-child(even),
.jumbotron {
	background: #4499dd;
	color: #fff;
}

